version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: g2backend_app
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"  
    volumes:
      - .:/app
    command: ["bash", "/app/entrypoint.sh"]
